<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
    <add key="ProGet" value="https://nuget.mtask.ge/nuget/IronManNuget/" />
  </packageSources>
  <packageSourceCredentials>
    <ProGet>
      <add key="Username" value="mtasknugetserveruser" />
      <add key="ClearTextPassword" value="mtnugetusrpass_321" />
    </ProGet>
  </packageSourceCredentials>
</configuration>
